<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <p th:text="'EmployeeId is, ' + ${employee.empNo} " />
  <p th:text="'FirstName is, ' + ${employee.firstName} " />
    <p th:text="'LastName is, ' + ${employee.lastName} " />
  
    <p th:text="'Birth Date is, ' + ${employee.birthDate} " />
  
    <p th:text="'Gender  is, ' + ${employee.gender} " />
  
  
 
</body>
</html>
